.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
  }
 .inner {
    padding: 50px;
    /* height: 75px; */
    /* width: 75px; */
    /* display: flex;
    align-content: center;
    position: relative; */
}

/* .inner:active {
  transform: scale(1);
  transition: transform .2s;
} */

.cards {
  margin-left: 125px;
}

.score span {
  display: inline;
  font-family: 'Architects Daughter', cursive; 
  margin-left: 255px;
}

  #movement {
      font-size: 15px;
      font-weight: lighter;
      text-align: center;
      font-family: 'Playfair Display', serif;
  }

  #grid ul li{
      width: 15%;
      display: inline-block;  
  }
  #grid ul li img{
    width: 100%;
    height: auto;
  }
  /* aside {
      font-weight: lighter;
      float: right;
      /* padding: 50px;
      margin-top: -570px;
      margin-right: 40px; */
      /* font-family: 'Architects Daughter', cursive;
      display: center;
  } */

  /* .front, .back { */
    /* width:100%;
    height: 100%;
    padding: 20px; 
    position: absolute;
    border-radius: 7px;
    background: transparent;
    display: flex; */
  /* } */
  .back {
    display: none;
  } 
  .inner.active .front{
    display: none;
  }
  .inner.active .back{
    display: block;
  }
  .inner.matched .front{
    display: none;
    pointer-events: none;
  }
  .inner.matched .back{
    display: block;
    opacity: 0.5;
    pointer-events: none;
  }
/* 
  #img1 {
      height: 100%;
      width: 100%;
      background: transparent;
      position: relative;
  }

  img {
    height: 100%;
    width: 100%;
    background: transparent;
    position: relative;
  } */

#btns {
    display: flex;
    justify-content: center;
}

img.front:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

button {
    background-color: #5151d4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 12px 28px;
    color: white;
    font-family: 'Architects Daughter', cursive; 
    font-size: 20px;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; 
  }
}