.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-family: 'Playfair Display', serif;
  }
 .inner {
    border: 2px solid black;
    padding: 50px;
    height: 75px;
    width: 75px;
}
.one{
    display: inline-block;
  }
  .two {
    display: inline-block;
  }
  .three {
    display: inline-block;
  }
  .four {
      display: inline-block;
  }

  #movement {
      font-size: 15px;
      font-weight: lighter;
      text-align: center;
      font-family: 'Playfair Display', serif;
  }

  #grid {
      margin-left: 180px;
  }
  aside {
      font-weight: lighter;
      float: right;
      padding: 50px;
      margin-top: -570px;
      margin-right: 40px;
      font-family: 'Architects Daughter', cursive;
  }
