.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-family: 'Playfair Display', serif;
  }
 .inner {
    padding: 50px;
    /* height: 75px; */
    /* width: 75px; */
    /* display: flex;
    align-content: center;
    position: relative; */
}

/* .inner:active {
  transform: scale(1);
  transition: transform .2s;
} */

.cards {
  margin-left: 150px;
}

.score span {
  display: inline;
  font-family: 'Architects Daughter', cursive; 
  margin-left: 255px;
}

  #movement {
      font-size: 15px;
      font-weight: lighter;
      text-align: center;
      font-family: 'Playfair Display', serif;
  }

  #grid ul li{
      width: 15%;
      display: inline-block;  
  }
  #grid ul li img{
    width: 100%;
    height: auto;
  }
  /* aside {
      font-weight: lighter;
      float: right;
      /* padding: 50px;
      margin-top: -570px;
      margin-right: 40px; */
      /* font-family: 'Architects Daughter', cursive;
      display: center;
  } */

  .front, .back {
    /* width:100%;
    height: 100%;
    padding: 20px; 
    position: absolute;
    border-radius: 7px;
    background: transparent;
    display: flex; */
  }
  .back {
    display: none;
  } 
  .inner.active .front{
    display: none;
  }
  .inner.active .back{
    display: block;
  }
  .inner.matched .front{
    display: none;
    pointer-events: none;
  }
  .inner.matched .back{
    display: block;
    opacity: 0.5;
    pointer-events: none;
  }
/* 
  #img1 {
      height: 100%;
      width: 100%;
      background: transparent;
      position: relative;
  }

  img {
    height: 100%;
    width: 100%;
    background: transparent;
    position: relative;
  } */

#btns {
    display: flex;
    justify-content: center;
}